NETEASE_APP_ID=
NETEASE_PRIVATE_KEY=
NETEASE_APP_SECRET=
NETEASE_IOT_CHANNEL=
NETEASE_IOT_DEVICE_TYPE=
NETEASE_IOT_OS=
NETEASE_IOT_BRAND=
NETEASE_IOT_MODEL=
NETEASE_IOT_APP_VERSION=
NETEASE_IOT_OS_VERSION=
NETEASE_IOT_NET_STATUS=
MUSIC_SESSION_ENCRYPTION_KEY=
MUSIC_ALLOWED_ORIGINS=https://matchaphone-d5gjgy87ybfb50382-1463048417.tcloudbaseapp.com
NETEASE_DAILY_CALL_LIMIT=4800
